
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="./static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>NicholasTomasella</title>
</head>
 

<body>




  <div class="container col-lg-4 col-md-16 col-sm-22">

    <header id="main-header">  
      <div class="row ">
        <div class="container ">   
          <div class="d-flex flex-column"> 
            <div class="p-4 bg-black text-white  back-img"> 
          
                     <div class="slides slowFade centralvideo">
                       <div class="slide">
                           <img src="./static/assets/images/img1.jpg" class="centralvideo" alt="img"/>
                       </div>
                       <div class="slide">
                        <img src="./static/assets/images/img20.jpg" class="centralvideo" alt="img"/>
                    </div>
                       <div class="slide">
                           <img src="./static/assets/images/img2.jpg" class="centralvideo" alt="img"/>
                       </div>
                       <div class="slide">
                           <img src="./static/assets/images/img51.jpg" class="centralvideo" alt="img"/>
                       </div>
                   </div>

    <div class="d-flex justify-content-between align-items-center ">
                
                         </div>  
                         
                                        <hr class="bg-dark">           
                     <div class="text-center">
                        <a  class="pulsante" type="button" href="https://www.tiktok.com/@mlg_niko"  ><button class="button1 ">
                          <i class="fa-brands fa-tiktok icon "></i></button> 
                        </a>
                  
                        <a  class="pulsante" type="button" href="mailto:tomasellanicholas@gmail.com?subject=UTENTE del sitoweb"  ><button class="button4 ">
                          <i class="fas fa-envelope icon "></i></button> 
                        </a>
                  
                      
                        <a  class="pulsante" type="button" href="https://youtube.com/@nicholastomasella"  ><button class="button2 ">
                          <i class="fa-brands fa-youtube icon"></i></button>
                        </a>
                    
                        <a class="pulsante" type="button" href="https://instagram.com/mlg_nikoo?igshid=OGQ5ZDc2ODk2ZA=="  ><button class="button3  ">
                          <i class="fa-brands fa-instagram icon"></i></button>
                        </a>

                        
                     <!--   <a class="pulsante" type="button" href="https://instagram.com/mlg_nikoo?igshid=OGQ5ZDc2ODk2ZA=="  ><button class="button5  ">
                          <i class="fa-brands fa-discord icon"></i></button>
                        </a>-->

              
                 
                      </div>
                     <br>

                      <div class="p-4 bg text-center border-radius  ">

                         Nicholas Tomasella ( Italy, Rep.Ceca )  <br> MLG Racing kart driver <br><br> 
                          🥇 2021 EK IGF 🌍 <br> 🥈 2019 EK IGF 🌍 <br> P6 WSK Open Series Rd.2 2023



               


              </div>  <br>
                   
                      <div class="d-flex flex-row text-white align-items-stretch text-center it-ce bg border-radius" >
                          <div class="port-item p-2  b-button" data-toggle="collapse" data-target="#home">
                            <i class="fas fa-home fa-2x d-block "></i>
                            <span class="d-none d-sm-block">Home</span>
                          </div>
                          <div class="port-item p-2   b-button" data-toggle="collapse" data-target="#resume">
                          <i class="fas fa-brands fa-youtube fa-2x d-block"></i>
                            <span class="d-none d-sm-block">Video </span>
                          </div>
                          <div class="port-item p-2   b-button" data-toggle="collapse" data-target="#work">
                            <i class="fas fa-panorama fa-2x d-block"></i>
                            <span class="d-none d-sm-block">Photo</span>
                          </div>
                            <div class="port-item p-2    b-button" data-toggle="collapse" data-target="#contact">
                            <i class="fas fa-ranking-star fa-2x d-block"></i>
                            <span class="d-none d-sm-block"> Results</span>
                      </div>
                
          </div>
        </div>
      </div>
    </div>
              
                
  </header> 

    <!-- HOME -->
 
    <div id="home"  class="collapse show">
      <div class="  text-white py-5 bg ">
        <h2 class="centro">WebSite </h2>
        <p class="lead"></p>
      </div>

      <div class="card py-5  text-center">
        <h3> Nicholas Tomasella...</h3>
        <p>I`m a racing driver with MLG Racing </p>


        <div class="row">
          <div class="container">
            <div class="pages">
             
                <section class="jumbotron jumbotron-heading">
                  <a href="https://www.mlgracing.it" >
                    <img src="./static/assets/images/mlg1.png"   class="card-img-top "></a>
                </section>
              </div>
        


        <section class=" jumbotron">
          <a href="https://www.parolinracing.com" >
            <img src="./static/assets/images/parolin.jpg"  class="card-img-top  "></a>
        </section>
    </div>
</div>

</div>

 </div>



    <!-- RESUME -->
    <div id="resume" class="collapse" >
      <div class=" card-body bg- text-white py-5 bg ">
        <h2 class="centro" >Onboard & Interviews</h2>
        <p class="lead"></p>
      </div>

      <div class=" bg-black  card card-body py-5">
        
        





<!--

        <div class="card-deck">
          <div class="card centralvideo">
            <div class="card-body">
              <iframe  class="img-fluid"  width="470" height="700" src="https://www.youtube.com/embed/IdnAWGKqzAA" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="p-2 mb-3 bg-dark text-white">
                Tony vs Parolin- Comparison Lap 👀
              </p>
       
            </div>
            <div class="card-footer">
              <h6 class="text-muted">5 novembre 2022</h6>
            </div>
          </div>

          <div class="card centralvideo">
            <div class="card-body">
              <iframe  class="img-fluid" width="470" height="200" src="https://youtube.com/shorts/rgl8Al87vBA?feature=shared" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="p-2 mb-3 bg-dark text-white">
                One lap with me at Cremona Circuit!!!
              </p>

            </div>
            <div class="card-footer">
              <h6 class="text-muted"> 5 ottombre 2022</h6>
            </div>
          </div>

              <div class="card centralvideo">
            <div class="card-body">
              <iframe  class="img-fluid"  width="470" height="700" src="https://www.youtube.com/embed/K7mjrq0Dk38?si=ekfWIiARxPtW5fIK" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="p-2 mb-3 bg-dark text-white">
                Onboard with me at Franciacorta  <br>
                Karting Track 🤩 - OKN
              </p>

            </div>
            <div class="card-footer">
              <h6 class="text-muted">10 Agosto 2023</h6>
            </div>
          </div>
        </div><br><br>
-->








<div class="row">
  <div class="pad-video  centralvideo">
<div class="card bg-white centralvideo ">
  <div class="card-body bg-black centralvideo ">
       <div class=" bg-black  ">
                <div class=" bg-black centralvideo">
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/K7mjrq0Dk38?si=ekfWIiARxPtW5fIK"   title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               Onboard with me at Franciacorta  <br>
               Karting Track 🤩 - OKN
           </div>  
           <div class="card-footer bg-black">
           <h6 class="text-muted">10 August 2023</h6>
           </div>
         </div>
       </div>
    </div>
</div>



<div class="pad-video centralvideo">
<div class="card bg-white centralvideo">
  <div class="card-body bg-black centralvideo">
       <div class=" bg-black ">
                <div class=" bg-black centralvideo">
             <iframe  class="img-fluid"  width="370" height="700"  src="https://www.youtube.com/embed/ZZJTmWYAQPI" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3  bg-black text-white">
               Okn vs X30 Senior 
               <br>- Cremona Circuit
               
             </p>

           </div>
           <div class="card-footer bg-black">
             <h6 class="text-muted">7 July 2023</h6>
            </div>
          </div>
        </div>
 </div>
</div>
 </div>
 

         <div class="row">
          <div class="pad-video centralvideo">
 <div class="card bg-white centralvideo">
  <div class="card-body bg-black centralvideo">
       <div class=" bg-black ">
                <div class=" bg-black centralvideo">
             <iframe  class="img-fluid" width="370" height="700" src="https://www.youtube.com/embed/QpzDDk1Lrs8"  title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3  text-white">
               Onboard with me at Cremona 💪🤩 <br>
                - WSK Open Series - X30 Senior
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">20 April 2023</h6>
            </div>
          </div>
       </div>
      </div>
</div>
         

<div class="pad-video centralvideo">
  <div class="card bg-white centralvideo">
   <div class="card-body bg-black centralvideo">
        <div class=" bg-black ">
                <div class=" bg-black centralvideo">
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/zz6uqG2lgbA"  title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3  text-white">
               One lap with me at Franciacorta <br>
                  Karting track- Okn test 🔥💥
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">1 January 2023</h6>

            </div>
          </div>
        </div>
 </div>
</div> 
</div>

<div class="row">
  <div class="pad-video centralvideo">
  <div class="card bg-white centralvideo">
    <div class="card-body bg-black centralvideo">
         <div class=" bg-black ">
                 <div class=" bg-black centralvideo">
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/IdnAWGKqzAA" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               Tony vs Parolin- Comparison Lap 👀
             </p>
      
           </div>
           <div class="card-footer">
             <h6 class="text-muted">5 November 2022</h6>
            </div>
          </div>
        </div>
     </div>
 </div>



 <div class="pad-video centralvideo">
 <div class="card bg-white centralvideo">
  <div class="card-body bg-black centralvideo">
       <div class=" bg-black ">
        <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid" width="370" height="200" src="https://www.youtube.com/embed/dumlkMv9MTk" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               One lap with me at Cremona Circuit!!!
             </p>
  
           </div>
           <div class="card-footer">
             <h6 class="text-muted"> 5 October 2022</h6>
           </div>
         </div>
       </div>
</div>
</div>
</div> 

<div class="row">
<div class="pad-video centralvideo">
  <div class="card bg-white centralvideo">
   <div class="card-body bg-black centralvideo">
        <div class=" bg-black ">
         <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/JPiJtpWrHKE" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               One Lap with me at 7 Laghi kart!🔥🔝
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">15 September 2022</h6>
            </div>
          </div>
        </div>
 </div>
 </div>




       
 <div class="pad-video centralvideo">
  <div class="card bg-white centralvideo">
   <div class="card-body bg-black centralvideo">
        <div class=" bg-black ">
         <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/OmMsRBiHM9E" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               One lap with me at South Garda Karting! 🏎🚀
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">31 July 2022</h6>
            </div>
          </div>
        </div>
 </div>
 </div>
 </div> 

<div class="row">
 <div class="pad-video centralvideo">
  <div class="card bg-white centralvideo">
   <div class="card-body bg-black centralvideo">
        <div class=" bg-black ">
         <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid" width="370" height="200" src="https://www.youtube.com/embed/ndDfx1XP-Ys"  title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               Onboard with me at Franciacorta
               <br> Karting track 🔥🏎🚀
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">25 May 2022</h6>
           </div>
         </div>
       </div>
      </div>
    </div>


    
      <div class="pad-video centralvideo">
       <div class="card bg-white centralvideo">
        <div class="card-body bg-black centralvideo">
             <div class=" bg-black ">
              <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/o9kE8l7PdQs" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               Onboard with me at P🚀💣🔥
               <br>
             </p>
             <br>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">20 April 2022</h6>
            </div>
          </div>
        </div>
       </div>
     </div>
       </div>


       
       <div class="row">
       <div class="pad-video centralvideo">
        <div class="card bg-white centralvideo">
         <div class="card-body bg-black centralvideo">
              <div class=" bg-black ">
               <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/PyKFI2XcG0w" title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               One Lap with me at South Garda Karting 🚀🔥💣
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">1 April 2022</h6>
            </div>
          </div>
         </div>
       </div>
     </div>


         <div class="pad-video centralvideo">
          <div class="card bg-white centralvideo">
           <div class="card-body bg-black centralvideo">
                <div class=" bg-black ">
                 <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid" width="370" height="200" src="https://www.youtube.com/embed/EEDALVu1CMM"  title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3 bg-black text-white">
               Easykart tour: Nicholas Tomasella
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">9 March 2022</h6>
           </div>
         </div>
        </div>
      </div>
    </div>
</div>



<div class="row">
  <div class="pad-video centralvideo">
   <div class="card bg-white centralvideo">
    <div class="card-body bg-black centralvideo">
         <div class=" bg-black ">
          <div class=" bg-black centralvideo"> 
             <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/mrroCb_F65o"  title="YouTube video player" 
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             <p class="p-2 mb-3  text-white">
             



               Ultima puntata “Mamma vs pilota”  
               <br> 
                con protagonisti
                 <br>
                Nicholas Tomasella e sua 
                madre Libena.
             </p>
            
           </div>
           <div class="card-footer">
             <h6 class="text-muted">8 April 2021</h6>
           </div>
         </div>
       </div>
      </div>
    </div>



 

  <div class="pad-video centralvideo">
   <div class="card bg-white centralvideo">
    <div class="card-body bg-black centralvideo">
         <div class=" bg-black ">
          <div class=" bg-black centralvideo"> 
       <iframe  class="img-fluid"  width="370" height="700" src="https://www.youtube.com/embed/WOJsLL-nBV0"  title="YouTube video player" 
       frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <p class="p-2 mb-3  text-white">
       Pilota vs Mamma. Nicholas Tomasella e sua madre
       </p>
<br><br>
     </div>
     <div class="card-footer">
       <h6 class="text-muted">8 April 2021</h6>
     </div>
   </div>
  </div>
</div>
</div>
</div>























<div class=" card-body bg- text-white py-5 bg ">
  <h2 class="centro" >Race & Video </h2>
  <p class="lead"></p>
</div>

<br><br>




<div class="row">
  <div class="pad-video  centralvideo">
<div class="card bg-white centralvideo ">
  <div class="card-body bg-black centralvideo ">
       <div class=" bg-black  ">
                <div class=" bg-black centralvideo">

                  <video width="370" height="210" controls>
                    <source src="./static/assets/images/video1.mp4" type="video/mp4">
                    <source src="./static/assets/images/video1.ogg" type="video/ogg">
                  
                  </video>

             <p class="p-2 mb-3 bg-black text-white">
               WSK Open Series 1
           </div>  
           <div class="card-footer bg-black">
           <h6 class="text-muted">2 April 2023</h6>
           </div>
         </div>
       </div>
    </div>
</div>



<div class="pad-video centralvideo">
<div class="card bg-white centralvideo">
  <div class="card-body bg-black centralvideo">
       <div class=" bg-black ">
                <div class=" bg-black centralvideo">

                  <video width="370" height="210" controls>
                    <source src="./static/assets/images/video2.mp4" type="video/mp4">
                    <source src="./static/assets/images/video2.ogg" type="video/ogg">
       
                  </video>

             <p class="p-2 mb-3  bg-black text-white">
              WSK Open Series 2
             </p>

           </div>
           <div class="card-footer bg-black">
             <h6 class="text-muted">2 April  2023</h6>
            </div>
          </div>
        </div>
 </div>
</div>
 </div>
 

         <div class="row">
          <div class="pad-video centralvideo">
 <div class="card bg-white centralvideo">
  <div class="card-body bg-black centralvideo">
       <div class=" bg-black ">
                <div class=" bg-black centralvideo"> 

                  <video width="370" height="210" controls>
                    <source src="./static/assets/images/video3.mp4" type="video/mp4">
                    <source src="./static/assets/images/video3.ogg" type="video/ogg">
                  </video>

             <p class="p-2 mb-3  text-white">
              WSK Open Series 3
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted"> 2 April 2023</h6>
            </div>
          </div>
       </div>
      </div>
</div>
         

<div class="pad-video centralvideo">
  <div class="card bg-white centralvideo">
   <div class="card-body bg-black centralvideo">
        <div class=" bg-black ">
                <div class=" bg-black centralvideo">

                
                  <video width="370" height="210" controls>
                    <source src="./static/assets/images/video5.mp4" type="video/mp4">
                    <source src="./static/assets/images/video5.ogg" type="video/ogg">
                  </video>

             <p class="p-2 mb-3  text-white">
              WSK Open Series 4
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">2 April  2023</h6>

            </div>
          </div>
        </div>
 </div>
</div> 
</div>

<div class="row">
<div class="pad-video centralvideo">
  <div class="card bg-white centralvideo">
   <div class="card-body bg-black centralvideo">
        <div class=" bg-black ">
                <div class=" bg-black centralvideo">


  <video width="370" height="210" controls>
                    <source src="./static/assets/images/video6.mp4" type="video/mp4">
                    <source src="./static/assets/images/video6.ogg" type="video/ogg">
                  </video>

             <p class="p-2 mb-3  text-white">
              WSK Euro Series 
             </p>

           </div>
           <div class="card-footer">
             <h6 class="text-muted">3 September 2023</h6>

            </div>
          </div>
        </div>
 </div>
</div> 
</div>


</div>
</div>

     












    <!-- WORK -->
    <div id="work"  class="collapse">
      <div class=" card-body  text-white py-5  bg ">
        <h2 class="centro">Gallery </h2>
        <p class="lead"></p>
      </div>


      <div class=" card card-body py-5 bg-black">
    
    
     <!--   --> <h2 class=" colorato bg text-white bordo">2023</h2>
      <br>
        <div class="bordo">
          <div class="row no-gutters ">
           <div class="col-md-3">
             <a href="./static/assets/images/img53.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img53.jpg" alt="" class="img-fluid  ">
             </a>
           </div>
           <div class="col-md-3">
             <a href="./static/assets/images/img54.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img54.jpg" alt="" class="img-fluid ">
             </a>
           </div>
           <div class="col-md-3">
             <a href="./static/assets/images/img55.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img55.jpg" alt="" class="img-fluid ">
             </a>
           </div>
           <div class="col-md-3">
             <a href="./static/assets/images/img56.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img56.jpg" alt="" class="img-fluid  ">
             </a>
           </div>
         </div>
      

         
 
    
           
       
       <div class="row no-gutters ">
        <div class="col-md-3">
          <a href="./static/assets/images/img49.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img49.jpg" alt="" class="img-fluid  ">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img50.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img50.jpg" alt="" class="img-fluid ">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img51.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img51.jpg" alt="" class="img-fluid ">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img52.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img52.jpg" alt="" class="img-fluid  ">
          </a>
        </div>
      </div>


         <div class="row no-gutters">
          <div class="col-md-3">
            <a href="./static/assets/images/img1.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img1.jpg" alt="" class="img-fluid  ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img2.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img2.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img3.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img3.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img4.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img4.jpg" alt="" class="img-fluid  ">
            </a>
          </div>
        </div>

        <div class="row no-gutters ">
          <div class="col-md-3">
            <a href="./static/assets/images/img5.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img5.jpg" alt="" class="img-fluid  ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img6.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img6.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img7.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img7.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img8.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img8.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          
          <div class="col-md-4">
            <a href="./static/assets/images/img16.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img16.jpg" alt="" class="img-fluid center ">
            </a>
          </div>
          <div class="col-md-4">
            <a href="./static/assets/images/img12.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img12.jpg" alt="" class="img-fluid center ">
            </a>
          </div>
          <div class="col-md-4">
            <a href="./static/assets/images/img17.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img17.jpg" alt="" class="img-fluid center ">
            </a>
          </div>
        </div>
      </div>


 

          <br>
          <h2 class="colorato text-white bordo bg">2022</h2>
          <br>
     <div class="bordo">
        <div class="row no-gutters ">
          <div class="col-md-3">
            <a href="./static/assets/images/img9.jpg" data-toggle="lightbox" >
              <img src="./static/assets/images/img9.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img10.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img10.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img11.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img11.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img15.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img15.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        


        <div class="row no-gutters">
              <div class="col-md-3">
                <a href="./static/assets/images/img13.jpg"  data-toggle="lightbox"> 
                  <img src="./static/assets/images/img13.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="./static/assets/images/img14.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/img14.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="./static/assets/images/img18.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/img18.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="./static/assets/images/img19.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/img19.jpg" alt="" class="img-fluid">
                </a>
              </div>
        </div>
</div>
                 <!-----------------------2021---------1024 x 682-------------->
        <br>
        <h2 class="colorato text-white bordo bg ">2021</h2>
        <br>
<div class="bordo">
      <div class="row no-gutters ">
        <div class="col-md-3">
          <a href="./static/assets/images/img21.jpg" data-toggle="lightbox" >
            <img src="./static/assets/images/img21.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img23.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img23.jpg" alt="" class="img-fluid">
          </a>
        </div>
     <div class="col-md-3">
          <a href="./static/assets/images/img24.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img24.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img25.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img25.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
      


      <div class="row no-gutters">
            <div class="col-md-3">
              <a href="./static/assets/images/img26.jpg" data-toggle="slightbox">
                <img src="./static/assets/images/img26.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-3">
              <a href="./static/assets/images/img27.jpg" data-toggle="lightbox">
                <img src="./static/assets/images/img27.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-3">
              <a href="./static/assets/images/img28.jpg" data-toggle="lightbox">
                <img src="./static/assets/images/img28.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-3">
              <a href="./static/assets/images/img29.jpg" data-toggle="lightbox">
                <img src="./static/assets/images/img29.jpg" alt="" class="img-fluid">
              </a>
            </div>
      </div>
    </div>

                       <!-----------------------2020---------1024 x 682-------------->
                       <br>
                       <h2 class="colorato text-white bordo bg">2020</h2>
                       <br>
               <div class="bordo">
                     <div class="row no-gutters ">
                       <div class="col-md-3">
                         <a href="./static/assets/images/img30.jpg" data-toggle="lightbox" >
                           <img src="./static/assets/images/img30.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img31.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img31.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                    <div class="col-md-3">
                         <a href="./static/assets/images/img32.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img32.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img33.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img33.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                     </div>
                     
               
               
                     <div class="row no-gutters">
                           <div class="col-md-3">
                             <a href="./static/assets/images/img34.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img34.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                           <div class="col-md-3">
                             <a href="./static/assets/images/img35.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img35.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                           <div class="col-md-3">
                             <a href="./static/assets/images/img36.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img36.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                           <div class="col-md-3">
                             <a href="./static/assets/images/img37.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img37.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                     </div>
                    </div>



                     
                       <!-----------------------2019---------1024 x 682-------------->
                       <br>
                       <h2 class="colorato text-white bordo bg">2019</h2>
                       <br>
               <div class="bordo">
                     <div class="row no-gutters ">
                       <div class="col-md-3">
                         <a href="./static/assets/images/img39.jpg" data-toggle="lightbox" >
                           <img src="./static/assets/images/img39.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img47.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img47.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                    <div class="col-md-3">
                         <a href="./static/assets/images/img45.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img45.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img46.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img46.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                     </div>


                       <div class="row no-gutters">
                       <div class="col-md-4">
                        <a href="./static/assets/images/img40.jpg" data-toggle="lightbox">
                          <img src="./static/assets/images/img40.jpg" alt="" class="img-fluid  ">
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="./static/assets/images/img38.jpg" data-toggle="lightbox">
                          <img src="./static/assets/images/img38.jpg" alt="" class="img-fluid  ">
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="./static/assets/images/img42.jpg" data-toggle="lightbox">
                          <img src="./static/assets/images/img42.jpg" alt="" class="img-fluid  ">
                        </a>
                      </div>
                    </div>
                 

<br><br>
                  <div class=" card-body  text-white py-5  bg ">
                    <h2 class="centro">Newspaper </h2>
                    <p class="lead"></p>
                </div>
                 <br><br>
     

                  
                 <div class="col-md-14 col-lg-12 imagini">
                  <a href="./static/assets/images/gio1.jpg" data-toggle="lightbox">
                    <img   src="./static/assets/images/gio1.jpg" alt="" class="img-fluid  ">
                  </a>
                </div>
                <div class="col-md-14 col-lg-12 imagini">
                  <a href="./static/assets/images/gio2.jpg" data-toggle="lightbox">
                    <img src="./static/assets/images/gio2.jpg" alt="" class="img-fluid  ">
                  </a>
                </div>
                <div class="col-md-14 col-lg-12 imagini">
                  <a href="./static/assets/images/gio3.jpg" data-toggle="lightbox">
                    <img src="./static/assets/images/gio3.jpg" alt="" class="img-fluid   ">
                  </a>
                </div>
             
                <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio4.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio4.jpg" alt="" class="img-fluid  ">
                </a>
              </div>
              <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio5.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio5.jpg" alt="" class="img-fluid  ">
                </a>
              </div>
              <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio6.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio6.jpg" alt="" class="img-fluid  ">
                </a>
              </div>

              <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio7.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio7.jpg" alt="" class="img-fluid   ">
                </a>
              </div>

            
      
       </div>
      </div>
    </div>
     








 
   <!-- CONTACT -->
   <div id="contact"  class="collapse">
    <div class="   card-body  text-white py-5  bg">
     <h2 class="centro" >Results  </h2>
   
    </div>

   

   


    <div class=" card card-body bg-black   py-5">
      
      <br><h3 class="text-white  text-center bg  card  pad2">2023</h3>
      <div class="card pad" >
      <br>1st Trofeo Franciacorta di primavera - OKN
        <br>6th WSK Open Series - X30 Senior 
        <br>
</div> 

       <br>
       <br><h3 class="text-white text-center bg card pad2">2022</h3>
       <div class="card pad">
       <br>13th Campionato Italiano Iame Series Italy - X30 Junior
       <br>
</div>

       <br>
       <br><h3 class="text-white text-center bg card pad2">2021</h3>
       <div class="card pad">
       <br>1st Easykart International Grand Final - 100cc
       <br>4th Easykart Italy - 100cc
       <br>
</div>
       <br> 
       <br><h3 class="text-white text-center bg card pad2">2020</h3>
       <div class="card pad">
       <br>4th Easykart International Grand Final - 60cc
       <br>4th Easykart Italy - 60cc
       <br>
</div>

       <br>
       <br><h3 class="text-white text-center bg card pad2 ">2019</h3>
       <div class="card pad">
       <br>2nd Easykart International Grand Final - 60cc
      <br>4th Easykart Italy - 60cc </p>
       <br>
</div>
<br>       
       
      <br> <form>

                       <button type="submit" id="home" value=" Back home!" class="button-kart bg centralvideo">
                        <hr> <hr> <i class="fa-solid fa-arrow-left"></i> <hr>back home! <hr><hr></button>
        

      </form>
    </div>
    
  </div>











<!--FOOTER-->

    <footer id="main-footer" class="text-center bg-black p-4 " >
       
  <h1 bg-white class=""> SPONSOR </h1> 
                  
      <div class="container" data-target="#collab">
  

<div class="row">
  <div class="col">
    

 </div>
</div>      


<hr class="btn-outline-danger">
<div class="row">


<marquee   behavior="alternate"   loop=-1   > 


  <a type="button" href="https://www.intermodaltrasporti.it/">
     <img  width="250" height="30" src="./static/assets/images/sponsor9.jpg" alt="" class="img-fluid  mis ">
    </a>

    <a   type="button" href="http://www.carisioservicesrl.it" >
     <img width="170" height="30" src="./static/assets/images/sponsor5.jpg"  class="img img-fluid mis ">
    </a>

     <img width="200" height="80" src="./static/assets/images/sponsor1.png"  class="img img-fluid mis ">

     <a  type="button" href="https://capozi.it">
       <img width="240" height="120" src="./static/assets/images/sponsor4.png" alt="" class="img-fluid mis ">
     </a>

     <a  type="button" href="https://www.lisigroup.it">
       <img width="200" height="30" src="./static/assets/images/sponsor2.png" alt="" class="img-fluid  mis"> 
     </a>
                
       <a   type="button" href="https://www.otticapaffoni.it/">
         <img  width="115" height="30" src="./static/assets/images/sponsor6.png" alt="" class="img-fluid  mis  ">
       </a>

       
         <img width="125" height="40" src="./static/assets/images/sponsor3.jpg" alt="" class="img-fluid  mis ">

       <img width="125" height="40" src="./static/assets/images/sponsor7.jpg" alt="" class="img-fluid  mis ">

       <a  type="button" nb  href="https://sigillidisicurezzaonline.it">
         <img width="165" height="50" src="./static/assets/images/sponsor8.jpg" alt="" class="img-fluid   mis  ">
         </a>
     
     </marquee>
</div>
<hr class="bg-danger">

<br>

      <!--<div class="row">
  <div class="col">
 <a href="https://www.intermodaltrasporti.it/">
    <img src="/niko/img/sponsor9.jpg" alt="" class="img-fluid sponsor9">
   </a>
 </div>
</div>

<div class="row no-gutters">
      <div class="col-md-3">
          <a href="http://www.carisioservicesrl.it">
           <img src="/niko/img/sponsor5.jpg" alt="" class="img-fluid  sponsor5 ">
          </a>
      </div>

      <div class="col-md-3">
		<img src="/niko/img/sponsor1.png" alt="" class="img-fluid sponsor">
      </div>

      <div class="col-md-3">
		 <a href="https://capozi.it">
          <img src="/niko/img/sponsor4.png" alt="" class="img-fluid  sponsor4  ">
	</a>
      </div>
      
  <div class="col-md-3">
     <a href="https://www.lisigroup.it">
   <img src="/niko/img/sponsor2.png" alt="" class="img-fluid sponsor"> 
 </a>
  </div>

</div>



<br>


<div class="row no-gutters">
  <div class="col-md-3">
<a href="https://www.otticapaffoni.it/">
   <img src="/niko/img/sponsor6.png" alt="" class="img-fluid   sponsor6 ">
     </a>

  </div>
  <div class="col-md-3">
        <img src="/niko/img/sponsor3.jpg" alt="" class="img-fluid  sponsor3 ">
    
  </div>
  <div class="col-md-3">
      <img src="/niko/img/sponsor7.jpg" alt="" class="img-fluid  sponsor7 ">
    
  </div>
  <div class="col-md-3">
    <a href="https://sigillidisicurezzaonline.it">
      <img src="/niko/img/sponsor8.jpg" alt="" class="img-fluid   sponsor8   ">
      </a>
  </div>
  

</div>

<br>

-->


<br>
          </div>
        </div>
      </div>
    </footer>




  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <script>

$('.port-item').click(function () {
      $('.collapse').collapse('hide');
    });

    $(document).on('click', '[data-toggle="lightbox"]', function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });

</script>


</body>

</html>