
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="./static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">



  <meta name="msapplication-tap-highlight" content="no">
  <title>NicholasTomasella</title>
</head>
 

<body>




  <div class="container col-lg-7 col-md-21 col-sm-27">

    <header id="main-header">  
      <div class="row ">
        <div class="container ">   
          <div class="d-flex flex-column"> 
            <div class="p-4 bg-black text-white  back-img"> 
          
                     <div class="slides slowFade centralvideo">
                       <div class="slide">
                           <img src="./static/assets/images/img1.jpg" class="centralvideo" alt="img"/>
                       </div>
                       <div class="slide">
                        <img src="./static/assets/images/img20.jpg" class="centralvideo" alt="img"/>
                    </div>
                       <div class="slide">
                           <img src="./static/assets/images/img2.jpg" class="centralvideo" alt="img"/>
                       </div>
                       <div class="slide">
                           <img src="./static/assets/images/img51.jpg" class="centralvideo" alt="img"/>
                       </div>
                   </div>

    <div class="d-flex justify-content-between align-items-center ">
                
                         </div>  
                         
                                        <hr class="bg-dark">           
                     <div class="text-center">
                        <a  class="pulsante" type="button" href="https://www.tiktok.com/@mlg_niko"  ><button class="button1 ">
                          <i class="fa-brands fa-tiktok icon "></i></button> 
                        </a>
                  
                        <a  class="pulsante" type="button" href="mailto:tomasellanicholas@gmail.com?subject=UTENTE del sitoweb"  ><button class="button4 ">
                          <i class="fas fa-envelope icon "></i></button> 
                        </a>
                  
                      
                        <a  class="pulsante" type="button" href="https://youtube.com/@nicholastomasella"  ><button class="button2 ">
                          <i class="fa-brands fa-youtube icon"></i></button>
                        </a>
                    
                        <a class="pulsante" type="button" href="https://instagram.com/mlg_nikoo?igshid=OGQ5ZDc2ODk2ZA=="  ><button class="button3  ">
                          <i class="fa-brands fa-instagram icon"></i></button>
                        </a>

                        
                     <!--   <a class="pulsante" type="button" href="https://instagram.com/mlg_nikoo?igshid=OGQ5ZDc2ODk2ZA=="  ><button class="button5  ">
                          <i class="fa-brands fa-discord icon"></i></button>
                        </a>-->

              
                 
                      </div>
                     <br>

                      <div class="p-4 bg text-center border-radius  ">
                        Nicholas Tomasella (Italy, Rep.Ceca)  <br> MLG Racing kart driver <br><br> 🥇 2021 EK IGF <br>
                        🥈 2019 EK IGF <br> P6 WSK Open Series Rd.2 2023
            <!--    <div class="hero-full-container  white-text-container">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="hero-full-wrapper">
                          <div class="text-content">
                            <p>
                              <span id="typed-strings">
                                <span>    Nicholas Tomasella (Italy, Rep.Ceca)  <br> MLG Racing kart driver <br><br> 🥇 2021 EK IGF </span>
                                <span>     Nicholas Tomasella (Italy, Rep.Ceca)  <br> MLG Racing kart driver <br><br> 🥈 2019 EK IGF</span>
                                <span>      Nicholas Tomasella (Italy, Rep.Ceca)  <br> MLG Racing kart driver <br><br> P6 WSK Open Series Rd.2 2023</span>
                              </span>
                              <span id="typed"></span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
-->
              </div>  <br>
                   
              
              <div class="d-flex flex-row text-white align-items-stretch text-center it-ce bg border-radius" >
                <div class="port-item p-2  b-button" data-toggle="collapse" >
                  <a  href="./index.html" title=""   class="d-flex d-sm-block text-white"> 
                    <i class="fas fa-home fa-2x d-block "></i>  </a>
                </div>
               
                <div class="port-item p-2  b-button" data-toggle="collapse" >
                  <a   href="./video.html" title=""   class="d-flex d-sm-block text-white"> 
                    <i class="fa-brands fa-youtube fa-2x d-block"></i>  </a>
             </div>
          
             
           
                  <div class="port-item p-2  b-button" data-toggle="collapse" >
                    <a  href="./photo.html" title=""   class="d-flex d-sm-block text-white"> 
                      <i class="fas fa-image fa-2x d-block "></i>  </a>
                  </div>
              
                  <div class="port-item p-2  b-button" data-toggle="collapse" >
                    <a  href="./Results.html" title=""   class="d-flex d-sm-block text-white"> 
                      <i class="fas fa-ranking-star fa-2x d-block "></i>  </a>
                  </div>
             </div>
          </div>
        </div>
      </div>
    
      
    





  
                
  </header> 

    <!-- HOME -->
 
    <div id="home"  class="collapse show">
      <div class="  text-white py-5 bg ">
        <h2 class="centro">WebSite </h2>
        <p class="lead"></p>
      </div>

      <div class="card py-5  text-center">
        <h3> Nicholas Tomasella...</h3>
        <p>I`m a racing driver with MLG Racing </p>


        <div class="row">
          <div class="container">
            <div class="pages">
             
                <section class="jumbotron jumbotron-heading">
                  <a href="https://www.mlgracing.it" >
                    <img src="./static/assets/images/mlg1.png"   class="card-img-top "></a>
                </section>
              </div>
        


        <section class=" jumbotron">
          <a href="https://www.parolinracing.com" >
            <img src="./static/assets/images/parolin.jpg"  class="card-img-top  "></a>
        </section>
    </div>
</div>








<!--

<div class="col-lg-12  email">
  <form action="submit_form" method="post" class="reveal-content">
     <div class="row">
       <div class="col-md-12">
         <div class="form-group">
           <input name="email" type="email" class="form-control" id="email" placeholder="Email">
         </div>
         <div class="form-group">
           <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
         </div>
         <div class="form-group">
           <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
         </div>
         <button type="submit" class="btn btn-default btn-lg">Send</button>
       </div>
     </div>
   </form>
</div>

-->




<form method="POST" action="mailto:io@me.te" enctype="text/plain">
  <input type="text" name="email" placeholder="Inserisci la tua email">
  <input type="submit" value="Invia">
</form>







</div>
 </div>

<!--FOOTER-->

    <footer id="main-footer" class="text-center bg-black p-4 " >
       
  <h1 bg-white class=""> SPONSOR </h1> 
                  
      <div class="container" data-target="#collab">
  

<div class="row">
  <div class="col">
    

 </div>
</div>      


<hr class="btn-outline-danger">
<div class="row">


<marquee   behavior="alternate"   loop="infinite"  scrollamount="4" > 


  <a type="button" href="https://www.intermodaltrasporti.it/">
     <img  width="250" height="30" src="./static/assets/images/sponsor9.jpg" alt="" class="img-fluid  mis ">
    </a>

    <a   type="button" href="http://www.carisioservicesrl.it" >
     <img width="170" height="30" src="./static/assets/images/sponsor5.jpg"  class="img img-fluid mis ">
    </a>

     <img width="200" height="80" src="./static/assets/images/sponsor1.png"  class="img img-fluid mis ">

     <a  type="button" href="https://capozi.it">
       <img width="240" height="120" src="./static/assets/images/sponsor4.png" alt="" class="img-fluid mis ">
     </a>

     <a  type="button" href="https://www.lisigroup.it">
       <img width="200" height="30" src="./static/assets/images/sponsor2.png" alt="" class="img-fluid  mis"> 
     </a>
                
       <a   type="button" href="https://www.otticapaffoni.it/">
         <img  width="115" height="30" src="./static/assets/images/sponsor6.png" alt="" class="img-fluid  mis  ">
       </a>

       
         <img width="125" height="40" src="./static/assets/images/sponsor3.jpg" alt="" class="img-fluid  mis ">

       <img width="125" height="40" src="./static/assets/images/sponsor7.jpg" alt="" class="img-fluid  mis ">

       <a  type="button" nb  href="https://sigillidisicurezzaonline.it">
         <img width="165" height="50" src="./static/assets/images/sponsor8.jpg" alt="" class="img-fluid   mis  ">
         </a>
     
     </marquee>
</div>
<hr class="bg-danger">

<br>

      <!--<div class="row">
  <div class="col">
 <a href="https://www.intermodaltrasporti.it/">
    <img src="/niko/img/sponsor9.jpg" alt="" class="img-fluid sponsor9">
   </a>
 </div>
</div>

<div class="row no-gutters">
      <div class="col-md-3">
          <a href="http://www.carisioservicesrl.it">
           <img src="/niko/img/sponsor5.jpg" alt="" class="img-fluid  sponsor5 ">
          </a>
      </div>

      <div class="col-md-3">
		<img src="/niko/img/sponsor1.png" alt="" class="img-fluid sponsor">
      </div>

      <div class="col-md-3">
		 <a href="https://capozi.it">
          <img src="/niko/img/sponsor4.png" alt="" class="img-fluid  sponsor4  ">
	</a>
      </div>
      
  <div class="col-md-3">
     <a href="https://www.lisigroup.it">
   <img src="/niko/img/sponsor2.png" alt="" class="img-fluid sponsor"> 
 </a>
  </div>

</div>



<br>


<div class="row no-gutters">
  <div class="col-md-3">
<a href="https://www.otticapaffoni.it/">
   <img src="/niko/img/sponsor6.png" alt="" class="img-fluid   sponsor6 ">
     </a>

  </div>
  <div class="col-md-3">
        <img src="/niko/img/sponsor3.jpg" alt="" class="img-fluid  sponsor3 ">
    
  </div>
  <div class="col-md-3">
      <img src="/niko/img/sponsor7.jpg" alt="" class="img-fluid  sponsor7 ">
    
  </div>
  <div class="col-md-3">
    <a href="https://sigillidisicurezzaonline.it">
      <img src="/niko/img/sponsor8.jpg" alt="" class="img-fluid   sponsor8   ">
      </a>
  </div>
  

</div>

<br>

-->


<br>
          </div>
        </div>
      </div>
    </footer>



  <script>
       document.addEventListener("DOMContentLoaded", function (event) {
       type();
       movingBackgroundImage();
    });
                                 
  </script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  


</body>

</html>