
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="./static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>NicholasTomasella</title>
</head>
 

<body>




  <div class="container col-lg-7 col-md-21 col-sm-27">

    <header id="main-header">  
      <div class="row ">
        <div class="container ">   
          <div class="d-flex flex-column"> 
            <div class="p-4 bg-black text-white  back-img"> 
      
                   
              <div class="d-flex flex-row text-white align-items-stretch text-center it-ce bg border-radius" >
                <div class="port-item p-2  b-button" data-toggle="collapse" >
                  <a href="./index.html" title=""   class="d-flex d-sm-block text-white"> 
                    <i class="fas fa-home fa-2x d-block "></i>  </a>
                </div>
               
                <div class="port-item p-2  b-button" data-toggle="collapse" >
                  <a href="./video.html" title=""   class="d-flex d-sm-block text-white"> 
                    <i class="fa-brands fa-youtube fa-2x d-block"></i>  </a>
             </div>
          
             
           
                  <div class="port-item p-2  b-button" data-toggle="collapse" >
                    <a href="./photo.html" title=""   class="d-flex d-sm-block text-white"> 
                      <i class="fas fa-image fa-2x d-block "></i>  </a>
                  </div>
              
                  <div class="port-item p-2  b-button" data-toggle="collapse" >
                    <a href="./Results.html" title=""   class="d-flex d-sm-block text-white"> 
                      <i class="fas fa-ranking-star fa-2x d-block "></i>  </a>
                  </div>
             </div>
          </div>
        </div>
      </div>
    
                
  </header> 

     












    <!-- WORK -->
    <div class="collapse-show">
      <div class=" card-body  text-white py-5  bg ">
        <h2 class="centro">Gallery </h2>
        <p class="lead"></p>
      </div>


      <div class=" card card-body py-5 bg-black">
    
    
     <!--   --> <h2 class=" colorato bg text-white bordo">2023</h2>
      <br>
        <div class="bordo">
          <div class="row no-gutters ">
           <div class="col-md-3">
             <a href="./static/assets/images/img53.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img53.jpg" alt="" class="img-fluid  ">
             </a>
           </div>
           <div class="col-md-3">
             <a href="./static/assets/images/img54.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img54.jpg" alt="" class="img-fluid ">
             </a>
           </div>
           <div class="col-md-3">
             <a href="./static/assets/images/img55.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img55.jpg" alt="" class="img-fluid ">
             </a>
           </div>
           <div class="col-md-3">
             <a href="./static/assets/images/img56.jpg" data-toggle="lightbox">
               <img src="./static/assets/images/img56.jpg" alt="" class="img-fluid  ">
             </a>
           </div>
         </div>
      

         
 
    
           
       
       <div class="row no-gutters ">
        <div class="col-md-3">
          <a href="./static/assets/images/img49.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img49.jpg" alt="" class="img-fluid  ">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img50.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img50.jpg" alt="" class="img-fluid ">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img51.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img51.jpg" alt="" class="img-fluid ">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img52.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img52.jpg" alt="" class="img-fluid  ">
          </a>
        </div>
      </div>


         <div class="row no-gutters">
          <div class="col-md-3">
            <a href="./static/assets/images/img1.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img1.jpg" alt="" class="img-fluid  ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img2.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img2.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img3.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img3.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img4.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img4.jpg" alt="" class="img-fluid  ">
            </a>
          </div>
        </div>

        <div class="row no-gutters ">
          <div class="col-md-3">
            <a href="./static/assets/images/img5.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img5.jpg" alt="" class="img-fluid  ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img6.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img6.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img7.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img7.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img8.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img8.jpg" alt="" class="img-fluid ">
            </a>
          </div>
          
          <div class="col-md-4">
            <a href="./static/assets/images/img16.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img16.jpg" alt="" class="img-fluid center ">
            </a>
          </div>
          <div class="col-md-4">
            <a href="./static/assets/images/img12.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img12.jpg" alt="" class="img-fluid center ">
            </a>
          </div>
          <div class="col-md-4">
            <a href="./static/assets/images/img17.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img17.jpg" alt="" class="img-fluid center ">
            </a>
          </div>
        </div>
      </div>


 

          <br>
          <h2 class="colorato text-white bordo bg">2022</h2>
          <br>
     <div class="bordo">
        <div class="row no-gutters ">
          <div class="col-md-3">
            <a href="./static/assets/images/img9.jpg" data-toggle="lightbox" >
              <img src="./static/assets/images/img9.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img10.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img10.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img11.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img11.jpg" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="./static/assets/images/img15.jpg" data-toggle="lightbox">
              <img src="./static/assets/images/img15.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        


        <div class="row no-gutters">
              <div class="col-md-3">
                <a href="./static/assets/images/img13.jpg"  data-toggle="lightbox"> 
                  <img src="./static/assets/images/img13.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="./static/assets/images/img14.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/img14.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="./static/assets/images/img18.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/img18.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="./static/assets/images/img19.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/img19.jpg" alt="" class="img-fluid">
                </a>
              </div>
        </div>
</div>
                 <!-----------------------2021---------1024 x 682-------------->
        <br>
        <h2 class="colorato text-white bordo bg ">2021</h2>
        <br>
<div class="bordo">
      <div class="row no-gutters ">
        <div class="col-md-3">
          <a href="./static/assets/images/img21.jpg" data-toggle="lightbox" >
            <img src="./static/assets/images/img21.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img23.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img23.jpg" alt="" class="img-fluid">
          </a>
        </div>
     <div class="col-md-3">
          <a href="./static/assets/images/img24.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img24.jpg" alt="" class="img-fluid">
          </a>
        </div>
        <div class="col-md-3">
          <a href="./static/assets/images/img25.jpg" data-toggle="lightbox">
            <img src="./static/assets/images/img25.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
      


      <div class="row no-gutters">
            <div class="col-md-3">
              <a href="./static/assets/images/img26.jpg" data-toggle="slightbox">
                <img src="./static/assets/images/img26.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-3">
              <a href="./static/assets/images/img27.jpg" data-toggle="lightbox">
                <img src="./static/assets/images/img27.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-3">
              <a href="./static/assets/images/img28.jpg" data-toggle="lightbox">
                <img src="./static/assets/images/img28.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-3">
              <a href="./static/assets/images/img29.jpg" data-toggle="lightbox">
                <img src="./static/assets/images/img29.jpg" alt="" class="img-fluid">
              </a>
            </div>
      </div>
    </div>

                       <!-----------------------2020---------1024 x 682-------------->
                       <br>
                       <h2 class="colorato text-white bordo bg">2020</h2>
                       <br>
               <div class="bordo">
                     <div class="row no-gutters ">
                       <div class="col-md-3">
                         <a href="./static/assets/images/img30.jpg" data-toggle="lightbox" >
                           <img src="./static/assets/images/img30.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img31.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img31.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                    <div class="col-md-3">
                         <a href="./static/assets/images/img32.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img32.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img33.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img33.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                     </div>
                     
               
               
                     <div class="row no-gutters">
                           <div class="col-md-3">
                             <a href="./static/assets/images/img34.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img34.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                           <div class="col-md-3">
                             <a href="./static/assets/images/img35.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img35.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                           <div class="col-md-3">
                             <a href="./static/assets/images/img36.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img36.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                           <div class="col-md-3">
                             <a href="./static/assets/images/img37.jpg" data-toggle="lightbox">
                               <img src="./static/assets/images/img37.jpg" alt="" class="img-fluid">
                             </a>
                           </div>
                     </div>
                    </div>



                     
                       <!-----------------------2019---------1024 x 682-------------->
                       <br>
                       <h2 class="colorato text-white bordo bg">2019</h2>
                       <br>
               <div class="bordo">
                     <div class="row no-gutters ">
                       <div class="col-md-3">
                         <a href="./static/assets/images/img39.jpg" data-toggle="lightbox" >
                           <img src="./static/assets/images/img39.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img47.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img47.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                    <div class="col-md-3">
                         <a href="./static/assets/images/img45.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img45.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                       <div class="col-md-3">
                         <a href="./static/assets/images/img46.jpg" data-toggle="lightbox">
                           <img src="./static/assets/images/img46.jpg" alt="" class="img-fluid">
                         </a>
                       </div>
                     </div>


                       <div class="row no-gutters">
                       <div class="col-md-4">
                        <a href="./static/assets/images/img40.jpg" data-toggle="lightbox">
                          <img src="./static/assets/images/img40.jpg" alt="" class="img-fluid  ">
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="./static/assets/images/img38.jpg" data-toggle="lightbox">
                          <img src="./static/assets/images/img38.jpg" alt="" class="img-fluid  ">
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="./static/assets/images/img42.jpg" data-toggle="lightbox">
                          <img src="./static/assets/images/img42.jpg" alt="" class="img-fluid  ">
                        </a>
                      </div>
                    </div>
                 

<br><br>
                  <div class=" card-body  text-white py-5  bg ">
                    <h2 class="centro">Newspaper </h2>
                    <p class="lead"></p>
                </div>
                 <br><br>
     

                  
                 <div class="col-md-14 col-lg-12 imagini">
                  <a href="./static/assets/images/gio1.jpg" data-toggle="lightbox">
                    <img   src="./static/assets/images/gio1.jpg" alt="" class="img-fluid  ">
                  </a>
                </div>
                <div class="col-md-14 col-lg-12 imagini">
                  <a href="./static/assets/images/gio2.jpg" data-toggle="lightbox">
                    <img src="./static/assets/images/gio2.jpg" alt="" class="img-fluid  ">
                  </a>
                </div>
                <div class="col-md-14 col-lg-12 imagini">
                  <a href="./static/assets/images/gio3.jpg" data-toggle="lightbox">
                    <img src="./static/assets/images/gio3.jpg" alt="" class="img-fluid   ">
                  </a>
                </div>
             
                <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio4.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio4.jpg" alt="" class="img-fluid  ">
                </a>
              </div>
              <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio5.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio5.jpg" alt="" class="img-fluid  ">
                </a>
              </div>
              <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio6.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio6.jpg" alt="" class="img-fluid  ">
                </a>
              </div>

              <div class="col-md-14 col-lg-12 imagini">
                <a href="./static/assets/images/gio7.jpg" data-toggle="lightbox">
                  <img src="./static/assets/images/gio7.jpg" alt="" class="img-fluid   ">
                </a>
              </div>

            
      
       </div>
      </div>
    </div>
     



<!--FOOTER-->

    <footer id="main-footer" class="text-center bg-black p-4 " >
       
  <h1 bg-white class=""> SPONSOR </h1> 
                  
      <div class="container" data-target="#collab">
  

<div class="row">
  <div class="col">
    

 </div>
</div>      


<hr class="btn-outline-danger">
<div class="row">


<marquee   behavior="alternate"   loop=-1   > 


  <a type="button" href="https://www.intermodaltrasporti.it/">
     <img  width="250" height="30" src="./static/assets/images/sponsor9.jpg" alt="" class="img-fluid  mis ">
    </a>

    <a   type="button" href="http://www.carisioservicesrl.it" >
     <img width="170" height="30" src="./static/assets/images/sponsor5.jpg"  class="img img-fluid mis ">
    </a>

     <img width="200" height="80" src="./static/assets/images/sponsor1.png"  class="img img-fluid mis ">

     <a  type="button" href="https://capozi.it">
       <img width="240" height="120" src="./static/assets/images/sponsor4.png" alt="" class="img-fluid mis ">
     </a>

     <a  type="button" href="https://www.lisigroup.it">
       <img width="200" height="30" src="./static/assets/images/sponsor2.png" alt="" class="img-fluid  mis"> 
     </a>
                
       <a   type="button" href="https://www.otticapaffoni.it/">
         <img  width="115" height="30" src="./static/assets/images/sponsor6.png" alt="" class="img-fluid  mis  ">
       </a>

       
         <img width="125" height="40" src="./static/assets/images/sponsor3.jpg" alt="" class="img-fluid  mis ">

       <img width="125" height="40" src="./static/assets/images/sponsor7.jpg" alt="" class="img-fluid  mis ">

       <a  type="button" nb  href="https://sigillidisicurezzaonline.it">
         <img width="165" height="50" src="./static/assets/images/sponsor8.jpg" alt="" class="img-fluid   mis  ">
         </a>
     
     </marquee>
</div>
<hr class="bg-danger">

<br>

      <!--<div class="row">
  <div class="col">
 <a href="https://www.intermodaltrasporti.it/">
    <img src="/niko/img/sponsor9.jpg" alt="" class="img-fluid sponsor9">
   </a>
 </div>
</div>

<div class="row no-gutters">
      <div class="col-md-3">
          <a href="http://www.carisioservicesrl.it">
           <img src="/niko/img/sponsor5.jpg" alt="" class="img-fluid  sponsor5 ">
          </a>
      </div>

      <div class="col-md-3">
		<img src="/niko/img/sponsor1.png" alt="" class="img-fluid sponsor">
      </div>

      <div class="col-md-3">
		 <a href="https://capozi.it">
          <img src="/niko/img/sponsor4.png" alt="" class="img-fluid  sponsor4  ">
	</a>
      </div>
      
  <div class="col-md-3">
     <a href="https://www.lisigroup.it">
   <img src="/niko/img/sponsor2.png" alt="" class="img-fluid sponsor"> 
 </a>
  </div>

</div>



<br>


<div class="row no-gutters">
  <div class="col-md-3">
<a href="https://www.otticapaffoni.it/">
   <img src="/niko/img/sponsor6.png" alt="" class="img-fluid   sponsor6 ">
     </a>

  </div>
  <div class="col-md-3">
        <img src="/niko/img/sponsor3.jpg" alt="" class="img-fluid  sponsor3 ">
    
  </div>
  <div class="col-md-3">
      <img src="/niko/img/sponsor7.jpg" alt="" class="img-fluid  sponsor7 ">
    
  </div>
  <div class="col-md-3">
    <a href="https://sigillidisicurezzaonline.it">
      <img src="/niko/img/sponsor8.jpg" alt="" class="img-fluid   sponsor8   ">
      </a>
  </div>
  

</div>

<br>

-->


<br>
          </div>
        </div>
      </div>
    </footer>




  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>




</body>

</html>